@import "tailwindcss";
@import '@fontsource/poppins'; 
@import '@fontsource/poppins/400.css'; 
@import '@fontsource/poppins/700.css'; 
@import '@fontsource/montserrat'; 
@import '@fontsource/montserrat/600.css';
@import '@fontsource/readex-pro';
@import '@fontsource/readex-pro/400.css';
@import '@fontsource/readex-pro/600.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: white; 
  }


